body{
    background-image: url(../obrazky/obrazek_v_pozadi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
  max-width: 1200px;
  margin: 20px auto;
  background-color: aquamarine;
  text-align: center;
  padding-top: 30px;
}

h1, h2, h3{
    max-width: 1160px;
    margin: 20px auto;
    font-family: 'Arial Narrow Bold', Impact, Haettenschweiler, sans-serif;
    font-weight: 200;
}

h1{
    font-size: 3em;
}

main{
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid #888;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    text-align: justify;
}

h2 {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border: 2px solid black;
    margin: auto;
}

th {
    padding: 10px;
}

.bgRed {
    background-color: rgba(255, 0, 0, 0.1);
}

.bgDarkRed {
    background-color: rgba(55, 0, 0);
    text-transform: uppercase;
}

.bgGreen {
    background-color: rgba(0, 255, 0, 0.1);
}

.bgDarkGreen {
    background-color: rgba(0, 55, 0);
    text-transform: uppercase;
}

.fgWhite {
    color: white;
}

thead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: darkgreen;
  color: white;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav a:not(:first-child) {display: none;}  
  .topnav a.icon {
    float: right;
    display: block;
  }
    
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.checked {
  color: orange;
}